.paragraph-bg-1 {
    background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.4),
      rgb(0 0 0 / 0.3)
    ),
    url("https://img.freepik.com/foto-gratis/arreglo-hojas-palma-verde-3d_23-2149015443.jpg?w=740&t=st=1698184688~exp=1698185288~hmac=8060fcdc68dd79c61108ad754ec479b331042e6b4821468bc005c16b91084e68");
    
    background-size: cover;
    color: #ffffff; /* Color de texto para que sea legible en el fondo */
    padding: 20px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.4); /* Efecto de sombra */
    opacity: 0.9; /* Opacidad */
    border-radius: 5px;
    transition: transform 0.3s;
    width: 500px;
    height: 175px;
    
   
  }

  .paragraph-bg-1:hover{
    transform: scale(1.2); /* Aumenta el tama単o al 120% del tama単o original */
cursor: pointer;
}
  .paragraph-bg-2 {
    background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.5),
      rgb(0 0 0 / 0.4)
    ), url('https://img.freepik.com/foto-gratis/fondo-textura-hoja-verde_501050-120.jpg?w=740&t=st=1698184346~exp=1698184946~hmac=4e728868f6821dddce84bc3f842b93840c79c4bbc3b1defa1cfc7f150d0ee1f7');  background-size: cover;
    color: #ffffff; /* Color de texto para que sea legible en el fondo */
    padding: 20px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.4); /* Efecto de sombra */
    opacity: 0.9; 
    border-radius: 5px;
    transition: transform 0.3s;
    width: 500px;
    height: 175px;
  }
  .paragraph-bg-2:hover{
    transform: scale(1.2); /* Aumenta el tama単o al 120% del tama単o original */
cursor: pointer;}

.boton-expansible {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.boton-expansible:hover {
  transform: scale(1.2);
  background-color: #014e03;
  color: #ffffff
}

  .navbar-custom {
    background-color: #035707; /* Verde relacionado con la naturaleza */
  }
  .navbar-custom .navbar-brand, .navbar-custom .navbar-nav .nav-link {
    color: #FFFFFF; /* Texto blanco */
    padding: 10px;
  }

  body {
    margin: 0;
    padding: 0;
   background-color: #000000;
  }

  .image-link {
    display: inline-block;
    margin: 10px;
    text-align: center;
}
.image-link img {

    margin-left: 100px;
    margin-top: 100px;
    border-radius: 75%;
    cursor: pointer;
    width: 200px;
    height: 200px;
}

.Silvestres{
color: aliceblue;
text-align: center;


}

.mamiferos {
  transition: opacity 0.3s;
}
.mamiferos .texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  }



